img {
  height: auto;
  max-width: 100%;
}

p {
  font-size: 18px;
  line-height: 24px;
}

.bww-headline-wrapper {
  font-size: 18px;
  margin: 20px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000;
}

/* SINGLE POST TEMPLATE */
#bww-single-post,
#bww-single-post-sow {
  padding-top: 52.4px;
}

#bww-single-post .content-container {
  margin-top: 30px;
}

#bww-single-post .video-container {
  padding: 40px 0;
  background: #222222;
}

#bww-single-post .video-container > .container {
  max-width: 940px;
}

#bww-single-post .youtube-video-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

#bww-single-post .youtube-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bww-single-post .featured-image-container {
  padding: 40px 0;
  background-color: #e8e8e8;
}

#bww-single-post .featured-img {
  height: 100%;
  width: 100%;
  max-width: 789px;
  margin: 0 auto;
  position: relative;
  background-color: #eeeeee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bww-single-post .featured-img::before,
.articles-bww-slide .orbit-thumbnail-bg::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

#bww-single-post h1.post-title {
  font-size: 46px;
  line-height: 54px;
  margin-top: 0;
}

#bww-single-post .post-date {
  margin: 0;
  font-weight: 700;
}

#bww-single-post .post-content {
  margin-bottom: 40px;
}

#bww-single-post .post-content.post-publish {
  margin-top: 20px;
}

.bww-register-btn {
  margin: 20px 0;
  font-size: 16px;
  padding: 14px 28px;
  background: #c4c10b;
  display: inline-block;
  color: #000000 !important;
  text-decoration: none !important;
  transition: opacity 0.2s;
}

/* ORBIT GRID 4 */
.articles-four-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.articles-grid .orbit-thumbnail-bg {
  min-height: 175px;
  margin-bottom: 30px;
}

.articles-grid .post-title {
  margin: 0;
  font-size: 22px;
  line-height: 30px;
}

.articles-grid .meta {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  line-height: 24px;
}

/* BWW PANELIST */
.bww-panelist {
  margin: 30px 0;
}

.bww-panelist .bww-panelist-speaker,
.bww-panelist .bww-panelist-moderator {
  padding: 0;
  list-style: none;
}

.bww-panelist .bww-moderator {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  flex-direction: column;
}

.bww-panelist .bww-panelist-speaker {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bww-panelist .author-info,
.bww-panelist .author-avatar-parent {
  align-self: flex-start;
}

.bww-panelist .author-avatar {
  width: 145px;
  height: 145px;
  outline: none;
  border-radius: 9999px;
  display: inline-block;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bww-panelist .author-name,
.bww-panelist .author-designation {
  font-weight: bold;
}

/* ORBIT BWW SLIDE */
.articles-bww-slide .orbit-thumbnail-bg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.articles-bww-slide .orbit-thumbnail-bg > a {
  top: 0;
}

/* -------------------------- MEDIA QUERIES ------------------------- */
@media(min-width: 768px) {
  .bww-register-btn:hover {
    opacity: 0.8;
  }

  .bww-panelist-moderator .bww-moderator {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .articles-bww-slide .bww-slide-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .articles-bww-slide .bww-headline-wrapper {
    margin-top: -5px;
  }

}

@media(max-width: 1024px) {
  .articles-four-grid,
  .bww-panelist .bww-panelist-speaker {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 426px) {
  .articles-four-grid,
  .bww-panelist .bww-panelist-speaker {
    grid-template-columns: 1fr;
  }
}
